accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
asgiref
attrs
bitsandbytes
cachetools
certifi
charset-normalizer
dataclasses-json
Django
django-ckeditor-5
django-jazzmin
filelock
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy-extensions
networkx
numpy
orjson
packaging
pillow
pinecone
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
pypdf
python-dotenv
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
SQLAlchemy
sqlparse
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
yarl