{% extends 'core/index.html' %}
{% load static %}

{% block pages %}
<div class="section animated-row" data-section="slide03">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop mb-4 serve-section">
                <div class="row">
                    <div class="col-md-9" style="text-align: left; justify-content: center; align-items: center;">
                        <h3>{{ briefmodel.topic }}</h3>
                        <div class="col-md-12">
                            <div>{{ briefmodel.content|safe }}</div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-baseline justify-content-center">
                        <div class="btn-contain-apply text-center">
                            <a href="#"><button class="btn btn-contain-apply-btn mb-2" style="position: sticky;top: 0%;right: 0;">Apply Now</button></a>
                            {% if '/services/4/' in request.path %}
                                <a href="#"><button class="btn btn-contain-apply-btn"><i class="fa-solid fa-download"></i> MOU Form</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'components/contact.html' %}
        </div>
    </div>
</div>
{% endblock pages %}
