{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIPITT</title>

    <!--- favicon-->
    <link rel="shortcut icon" href="../../static/assets/images/img/logo.png" type="image/x-icon">
    {% include 'partials/style.html' %}
    {% include 'partials/script.html' %}
</head>
<body class="light-theme" style="overflow-x: hidden;">

    {% block index %}
    {% endblock index %}

    <div class="chatbot">
        
    </div>

</body>
</html>