{% load static %}

<div class="section animated-row" data-section="slide03">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <h2 class="mt-5">What We Do?</h2>
                    <h6>Learn more about the services we offer</h6>
                    <p>Our wide range of services are backed by industry knowledge and our passion to help clients find solutions perfectly tailored to their needs.</p>
                </div>
                <div class="services-section">
                    <div class="services-list row">
                        {% for service in services %}
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'core:services' id=service.pk %}">
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="{{service.iconClass}}" aria-hidden="true"></i></span>
                                        <h3>{{ service.name }}</h3>
                                        <p>{{ service.content|truncatechars:80 }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>