{% load static %}
<div class="section animated-row" data-section="slide03">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <h2>What We Do?</h2>
                    <h6>Learn more about the services we offer</h6>
                    <p>Our wide range of services are backed by industry knowledge and our passion to help clients find solutions perfectly tailored to their needs.</p>
                </div>
                <div class="services-section">
                    <div class="services-list row">
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'core:services' %}">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="service-box">
                                    <span class="service-icon"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                                    <h3>Bootstrap Themes</h3>
                                    <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'core:services' %}">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="service-box">
                                    <span class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
                                    <h3>HTML5 Coding</h3>
                                    <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'core:services' %}">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="service-box">
                                    <span class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                    <h3>Fully Responsive</h3>
                                    <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'core:services' %}">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="service-box">
                                    <span class="service-icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                    <h3>Mobile Ready</h3>
                                    <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'core:services' %}">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="service-box">
                                    <span class="service-icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                                    <h3>Fast Support</h3>
                                    <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'core:services' %}">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="service-box">
                                    <span class="service-icon"><i class="fa fa-database" aria-hidden="true"></i></span>
                                    <h3>24-hour Up Time</h3>
                                    <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>