{% load static %}
<div class="section animated-row" data-section="slide04">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <h2>Wanted To Apply?</h2>
                </div>
                <div class="row">
                    <div class="col-md-8" style="text-align: left;padding-left: 0;">
                        <h3>RIPITT Executive body Program Form</h3>
                        <p style="text-align: left;">RIPITT is excited to introduce the launch of the Executive body Program, which offers the opportunity to join our mission of enabling individuals with ownership and contributing to the advancement of Startup Ecosystem in India.</p>
                        <h6>Our values</h6>
                        <ul>
                            <li>We exhibit humility</li>
                            <li>We conduct ourselves with integrity</li>
                            <li>We take ownership of our actions</li>
                            <li>We maintain an open approach</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <img height="300px" src="../../static/assets/images/img/bodyprg.png" alt="">
                    </div>
                </div>
                <div class="col-md-12" style="display: flex;align-items: center;justify-content: left;gap: 10px;">
                    <a href="{% url 'core:construction' %}"><button class="btn">Know More</button></a>
                    <a href="{% url 'core:construction' %}"><button class="btn">Apply Now</button></a>
                </div>
            </div>
        </div>
    </div>
</div>