.quote {
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: left;
}
.quoteImage{
    padding: 0;
    display: flex;
    align-items: top;
    justify-content: left;
    position: relative;
}
.quoteImage .about-img{
    position: absolute;
    top: -10px;
    left: -10px;
    -webkit-box-shadow:7px 8px 27px 6px #0c2c38;
    -moz-box-shadow: 7px 8px 27px 6px #0c2c38;
    box-shadow: 7px 8px 27px 6px #0c2c38;
}
.quoteData h5{
    text-decoration: underline;
}
.quoteData{
    padding: 5px;
}
.quoteRegards p{
    padding: 0;
    margin: 0;
}