{% extends 'core/index.html' %}
{% load static %}

{% block pages %}
<div class="section animated-row" data-section="slide03">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop mb-4">
                <div style="text-align: left;justify-content: center;align-items: center;">
                            <h3>{{ briefmodel.topic }}</h3>
                    <div class="col-md-12">
                        <div>{{ briefmodel.content|safe }}</div>
                    </div>
                </div>
            </div>
            {% include 'components/contact.html' %}
        </div>
    </div>
</div>
{% endblock pages %}