{% load static %}

<style>
.navbar-nav li a:hover:after, .navbar-nav li.makecolor a:after{
  -webkit-transform:scale(1);
  transform:scale(1);
}
</style>
<div class="preloader">
    <div class="preloader-bounce">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<header id="header" class="laptop-nav">
    <div class="container-fluid">
        <div class="navbar">
            <a href="#" id="logo" title="RIPITT">
                <img loading="lazy" height="80px" style="margin-left: .7em;" src="../../media/Services/iiitlogo.svg" alt="">
            </a>
            <div class="navigation-row">
                <nav id="navigation">
                    <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                    <div class="nav-box navbar-collapse">
                        <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                            <li {% if '/home/' in request.path or '/home/' in request.path %}data-menuanchor="slide01"{% endif %}><a href="{% url 'core:home' %}#slide01">Home</a></li>
                            <li {% if '/home/' in request.path or '/about/' in request.path %}data-menuanchor="slide02"{% endif %} class="{% if '/about/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide02">About Us</a></li>
                            <li {% if '/home/' in request.path or '/services/' in request.path %}data-menuanchor="slide03"{% endif %} class="{% if '/services/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide03" >Services</a></li>
                            <li {% if '/home/' in request.path or '/people/' in request.path %}data-menuanchor="slide04"{% endif %} class="{% if '/team/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide04">People</a></li>
                            <li {% if '/home/' in request.path or '/event/' in request.path %}data-menuanchor="slide05"{% endif %} class="{% if '/event/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide05">Events</a></li>
                            <li {% if '/home/' in request.path or '/testimonials/' in request.path %}data-menuanchor="slide06"{% endif %} class="{% if '/testimonials/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide06">Testimonials</a></li>
                            <li {% if '/home/' in request.path or '/contact/' in request.path %}data-menuanchor="slide07"{% endif %} class="{% if '/contact/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide07">Contact Me</a></li>
                            <li {% if '/home/' in request.path or '/ripitthof/' in request.path %}data-menuanchor="slide08"{% endif %} class="{% if '/slide08/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide08">RIPITT's HoF</a></li>
                            <li {% if '/home/' in request.path or '/sil/' in request.path %}data-menuanchor="slide09"{% endif %} class="{% if '/slide09/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide09">SIL</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<header class="mobile-nav" id="header">
    <div class="container-fluid" style="padding: 0;">
        <div class="navbar" style="padding: 0;">
            <a href="#" id="logo" title="RIPITT">
                <img loading="lazy" height="80px" style="margin-left: .7em;" src="../../media/Services/iiitlogo.svg" alt="">
            </a>
            <div class='wrapper'>
                <div class='app'>
                    <div class='nav' id="main-nav-back">
                        <div class='nav-bar'>
                            <div class='logo'></div>
                            <div class='nav-btn' id="nav-button">
                                <div class='btn-bar menu'></div>
                                <div class='btn-bar menu'></div>
                                <div class='btn-bar menu'></div>
                                <div class='btn-bar close'></div>
                                <div class='btn-bar close'></div>
                            </div>
                        </div>
                        <div class='nav-content'>
                            <a href="#" id="logo" class="mobile-nav-logo" title="RIPITT" style="z-index: 10;opacity: 0;">
                                <img loading="lazy" height="80px" style="margin-left: .7em;" src="../../media/Services/iiitlogo.svg" alt="">
                            </a>
                            <div class="mobile-nav-links">
                                <ul class="mobile-ul-links">
                                    <li {% if '/home/' in request.path or '/home/' in request.path %}data-menuanchor="slide01"{% endif %}><a href="{% url 'core:home' %}#slide01">Home</a></li>
                                    <li {% if '/home/' in request.path or '/about/' in request.path %}data-menuanchor="slide02"{% endif %} class="{% if '/about/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide02">About Us</a></li>
                                    <li {% if '/home/' in request.path or '/services/' in request.path %}data-menuanchor="slide03"{% endif %} class="{% if '/services/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide03">Services</a></li>
                                    <li {% if '/home/' in request.path or '/people/' in request.path %}data-menuanchor="slide04"{% endif %} class="{% if '/team/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide04">People</a></li>
                                    <li {% if '/home/' in request.path or '/event/' in request.path %}data-menuanchor="slide05"{% endif %} class="{% if '/event/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide05">Events</a></li>
                                    <li {% if '/home/' in request.path or '/testimonials/' in request.path %}data-menuanchor="slide06"{% endif %} class="{% if '/testimonials/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide06">Testimonials</a></li>
                                    <li {% if '/home/' in request.path or '/contact/' in request.path %}data-menuanchor="slide07"{% endif %} class="{% if '/contact/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide07">Contact Me</a></li>
                                    <li {% if '/home/' in request.path or '/ripitthof/' in request.path %}data-menuanchor="slide08"{% endif %} class="{% if '/slide08/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide08">RIPITT's HoF</a></li>
                                    <li {% if '/home/' in request.path or '/sil/' in request.path %}data-menuanchor="slide09"{% endif %} class="{% if '/slide09/' in request.path %}makecolor{% endif %}"><a href="{% url 'core:home' %}#slide09">SIL</a></li>
                                </ul>
                            </div>
                            <div class='background'>
                                <div class='portion'></div>
                                <div class='portion'></div>
                                <div class='portion'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>